<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.osdb.pro">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:name=".Application.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.TermAndCondition.TermAndCondition">
        </activity>
        <activity android:name=".ui.FilterActivity.view.FilterActivity">
        </activity>
        <activity android:name=".ui.DemoTable.DemoStats"/>
        <activity
                android:name=".ui.player_details_screen.view.VideoPlayActivity"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name="com.amazon.identity.auth.device.workflow.WorkflowActivity"
                android:allowTaskReparenting="true"
                android:launchMode="singleTask"
                android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- android:host must use the full package name found in Manifest General Attributes -->
                <data
                        android:host="com.elintminds.osdb"
                        android:scheme="amzn"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.team_details_screen.view.TeamDetailsActivity"
                android:screenOrientation="portrait">
        </activity>

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>

        <activity
                android:name=".ui.particular_sport_screen.view.SportsActivity"
                android:label=""
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.search_finding_screen.view.SearchFindingsActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.search_screen.view.SearchActivity"
                android:screenOrientation="portrait">
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyC8fFpWGfRMA28hHluiOQtxzeApLis9N-k"/>

        <activity
                android:name=".ui.event_details.view.EventDetailsActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.splash.view.SplashScreenActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.dashboard.view.DashboardActivity"
                android:label=""
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.welcome_screen.view.WelcomeActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.login_options.view.LoginOptionsActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.forgot_password.view.ForgotPasswordActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".ui.login.view.LoginActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".ui.register.view.RegisterActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".ui.report.view.ReportActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".ui.do_you_know.view.DoYouKnowActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".ui.calendar_screen.view.PollCalendarActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.discussion_comments.view.DiscussionCommentsActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.add_edit_discussion.view.AddEditDiscussionActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.settings.view.SettingsActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.profile.view.ProfileActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.profile.view.NotificationActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.edit_profile.view.EditProfileActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.player_details_screen.view.PlayerDetailsActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.detailview.view.DetailActivity"
                android:screenOrientation="portrait"/>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="4180a12c60c0bd330bc679de633da426a496387a"/>

        <provider
                android:name=".utils.GenericFileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>